.calculator {
	height: 500px;
	width: 300px;
	background: black;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 15px 15px 25px hsla(0, 0%, 0%, 0.25);
}

.display {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	height: 125px;
	text-align: right;
}

.input {
	width: 100%;
	height: 60%;
	padding-top: auto;
	font-size: 50px;
	padding-right: 10px;
}

.answer {
	width: 100%;
	color: gray;
	font-size: 35px;
	padding-right: 10px;
	margin-bottom: 0;
}

.numbers-container {
	width: 75%;
}

.operations-container {
	width: 25%;
}

button {
	font-family: 'Manrope', sans-serif;
	background-color: #3c4042;
	border: none;
	width: 75px;
	height: 75px;
	font-size: 25px;
	color: white;
	margin: 0;
}

button:hover {
	opacity: 0.85;
	cursor: pointer;
}

.light-gray {
	background-color: #5f6267;
	font-size: 30px;
}

button.orange {
	background-color: #3e75dc;
	width: 225px;
}

.zero {
	width: 150px;
}
